/*Десктоп*/

body{
    background: url("https://github.com/BerivetKont/Cat_food/blob/Source_files/%D0%B1%D1%8D%D0%BA%D0%B3%D1%80%D0%B0%D1%83%D0%BD%D0%B4.png?raw=true"), url("https://github.com/BerivetKont/Cat_food/blob/Source_files/%D0%A2%D0%B5%D0%BD%D1%8C.png?raw=true");
    background-size: contain;
    background-blend-mode: multiply;
}
section{
    margin: 15% auto;
    padding: 0;
    height: auto;
    width: 1280px;
}
header{
    width: 1120px;
    margin: 0 auto;
}
header p{
    box-shadow: 0px 1px 1px 0px #000000;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-family: 'Exo 2', sans-serif; 
    font-weight: 100;
    line-height: 44px;
    margin: 0;
}
article{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 24px;
    padding: 0 80px;
    column-gap: 80px;
}
.article_grid {
    box-sizing: border-box;
    height: 509px;
    width: 320px;    
    }
article p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: #666666;
}
article h1,h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #000000;
}
#hoverBorder, #hoverBorder1, #hoverBorder2{
    height: 509px;
    width: 320px; 
    box-sizing: border-box;
}
.ingredient{
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 480px;
    padding-bottom: 14px;

    --all:0;
    --top-left: 20px;
    --y: #1698d9;
    border: 4px solid var(--y);
    background:
       linear-gradient( 135deg, var(--y) 0 calc(var(--top-left,var(--all)) + 5px)    ,transparent 0) top left    /50% 50%, var(--img,#f2f2f2);
    background-origin:border-box;
    background-repeat:no-repeat;
    -webkit-mask:
       linear-gradient(  45deg, transparent 0 var(--bottom-left,var(--all)) ,#fff 0) bottom left,
       linear-gradient( -45deg, transparent 0 var(--bottom-right,var(--all)),#fff 0) bottom right,
       linear-gradient( 135deg, transparent 0 var(--top-left,var(--all))    ,#fff 0) top left,
       linear-gradient(-135deg, transparent 0 var(--top-right,var(--all))   ,#fff 0) top right;
    -webkit-mask-size:50.5% 50.5%;
    -webkit-mask-repeat:no-repeat;
  }
.ingredient_text{
    margin: 0 51px;
    text-align: left;
}
.ingredient_text h1{
    font-size: 48px;
    margin: 0 auto;
}
.ingredient_text h3{
    font-size: 24px;
    margin: 0 auto;
}
.ingredient_text p{
    font-size: 14px;
    word-wrap: break-word;
    margin-top: 15px;
}
.quantity{
    background: #1698D9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 2px;
}
.quantity p{
    color: #ffffff;
    text-align: center;
    margin: 30px auto 5px auto;
    line-height: 7px;
}
.cat{
    position: absolute;
    top: 205px;
    left: -30px;
    content: url("https://github.com/BerivetKont/Cat_food/blob/Source_files/%D0%9A%D0%BE%D1%82.png?raw=true"); 
    height: 368px;
    width: 360px;
    z-index: -1;
}
.footer p{
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}
.footer a{
    text-decoration: none;
    border-bottom: 1px dashed #1698d9;
    color: #1698D9;
}

  /* Планшеты */
@media screen and (max-width: 992px) {
    body{
        padding: 36px auto;
        margin: 0 auto;
        height: auto;
        width: auto;
        }  
        section{
        width: auto;
        }
    article{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 40px;
        width: auto;
        }
    header{
        width: auto;
    }
    #hoverBorder{
        transform: translate(50%) ;
    }
    #hoverBorder1{
        transform: translate(calc(-100% - 40px), calc(100% + 40px) ); 
    }
    #hoverBorder2{
        transform: translate(calc(100% + 40px));
    }
}

/* Телефон */
@media screen and (max-width: 600px) {
    body{
    padding: 36px;
    margin: 0 auto;
    width: auto;
    height: auto;   
    }
    article{
    display: grid;
    gap: 40px;
    grid-template-columns: auto;
    margin: 24px auto;
    padding: 10px 0;
    width: 320px;     
    }
    header{
    width: auto;
    padding: 0 29px;
    }
#hoverBorder, #hoverBorder1, #hoverBorder2{
    transform: translate(0);
    }
}
