

body {
    background-image:url("бэкграунд.png"),url("Тень.png");
    background-size:contain;
    background-blend-mode:multiply;
}
section {
    margin:15% auto;
    padding:0;
    height:auto;
    width:1280px;
}
header {
    width:1120px;
    margin:0 auto 24px;
}
header p {
    -webkit-box-shadow:0px 1px 1px 0px #000000;
    box-shadow:0px 1px 1px 0px #000000;
    color:#ffffff;
    text-align:center;
    font-size:36px;
    font-family:'Exo 2',sans-serif;
    font-weight:100;
    line-height:44px;
    margin:0;
}
article {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:0 40px;
    width:1200px;
}
.article_grid,#hoverBorder,#hoverBorder1,#hoverBorder2 {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height:509px;
    width:320px;
}
article p {
    font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-weight:400;
    color:#666666;
}
article h1,h3 {
    font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-weight:700;
    color:#000000;
}
.outside_ingredient {
    position:relative;
    height:480px;
    width:320px;
    border-radius:12px;
    background:#1698D9;
    -webkit-clip-path:polygon(15% 0,100% 0,100% 0,100% 0,100% 100%,0 100%,0 100%,0 10%);
    clip-path:polygon(15% 0,100% 0,100% 0,100% 0,100% 100%,0 100%,0 100%,0 10%);
    z-index:1;
}
.ingredient {
    position:absolute;
    top:4px;
    left:4px;
    right:4px;
    bottom:4px;
    z-index:2;
    border-radius:12px;
    background:#f2f2f2;
    -webkit-clip-path:polygon(15% 0,100% 0,100% 0,100% 0,100% 100%,0 100%,0 100%,0 10%);
    clip-path:polygon(15% 0,100% 0,100% 0,100% 0,100% 100%,0 100%,0 100%,0 10%);
    overflow:hidden;
}
.ingredient_text {
    margin:0 51px;
    text-align:left;
}
.ingredient_text h1 {
    font-size:48px;
    margin:0 auto;
}
.ingredient_text h3 {
    font-size:24px;
    margin:0 auto;
}
.ingredient_text p {
    font-size:14px;
    word-wrap:break-word;
    margin-top:15px;
}
.quantity {
    background:#1698D9;
    width:80px;
    height:80px;
    border-radius:50%;
    position:absolute;
    z-index:4;
    right:16px;
    bottom:16px;
    padding:2px;
}
.quantity p {
    color:#ffffff;
    text-align:center;
    margin:30px auto 5px auto;
    line-height:7px;
}
.cat {
    position:absolute;
    top:205px;
    left:-30px;
    content:url("Кот.png");
    height:368px;
    width:360px;
    z-index:3;
}
.footer p {
    font-size:13px;
    color:#ffffff;
    text-align:center;
}
.footer a {
    text-decoration:none;
    border-bottom:1px dashed #1698d9;
    color:#1698D9;
}
/* Планшеты */
@media screen and (max-width:992px) {
    body {
    padding:36px auto;
    margin:0 auto;
    height:auto;
    width:auto;
}
section {
    width:auto;
    padding:auto;
}
article {
    display:flex;
    width:auto;
    justify-content:space-around;
    flex-wrap:wrap;
}
header {
    width:auto;
}
#hoverBorder,#hoverBorder1,#hoverBorder2 {
    margin:40px auto;
}
}/* Телефон */
@media screen and (max-width:600px) {
    body {
    padding:36px;
    margin:0 auto;
    width:auto;
    height:auto;
}
article {
    display:flex;
    width:auto;
    justify-content:space-around;
    flex-wrap:wrap;
}
}/* IE11 */
@media all and (-ms-high-contrast:none),(-ms-high-contrast:active) {
    .ingredient,.outside_ingredient {
    border-top-left-radius:12%;
}
.cat {
    background-image:url("Кот.png");
    background-size:cover;
}
}
